/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 110px 0;
}
.color{ 
    color: #4E47FF;
    font-size: xx-large;
}
nav ul li{
    list-style: none;
}
.btn-primary {
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px 20px;
    border: none;

}

.backround{
    background-image:url(../Hero-bg.png);
    width: 100%; height: 700px ;
    
}
.bold{
    font-weight: bolder;
    text-align: center;
    font-size:xx-large;
    /* margin-top: 200px; */
    
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 120px 200px;
}
.section-color{
    background-color: #dadee2;
    border-radius: 10px;
    padding: 50px;
    margin:0 110px 50px ;
    text-align: center;
}
.fontl{
    font-weight: bolder;
    font-size:xx-large;
    color: #4E47FF;
    
}
.flex2{
    display: flex;
    text-align: center;
    border: auto;
    justify-content: space-around;
}
 .ready{ 
    text-align: center;
    margin-left: 150px;
    margin-bottom: 180px;
    font-size: larger;
    font-weight: 700;
    margin-top: 200px;
    height: 400px;
}
.skill-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}
.section title{
    /* margin top:150px; */
    font-size: larger;
    
}
.skills{
    text-align: center;
    margin-top:150px ;
    
}
.skill{
    border-radius: 5px;
    padding: 100px;
    box-shadow: 0 6px 10px #d8cfcf;

    
}

.sis{
    display: flex;
    
}
.im {
    border-radius: 10px;
    box-shadow:  #d8cfcf;
    padding: 40px;

}
.tex{
    list-style: none;
    display: flex;
    gap: 50px;
}
.foot{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}




